.headerContainer {
  width: 100%;
  display: flex;
  padding: 16px 24px 24px;
  .mainLogo {
    width: 100px;
  }
  .search {
    width: calc(100% - 100px);
    input {
      width: 100%;
      padding: 8px 16px;
      border-radius: 100px;
      border-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}
