.dashboardContainer {
  height: 100%;
}

.categoryTabs {
  // background: linear-gradient(to bottom right, #1e976d, #021f88);
  .tabBtn {
    border: 0;
    border-radius: 0;
  }
  .tabPrimary {
    background: #1e976d;
    border-right: 1px solid rgba($color: #ffffff, $alpha: 0.2);
    color: rgba(255, 255, 255, 0.4);
    &:hover {
      background: #1e976d;
      border: 0;
    }
  }
  .tabSecondary {
    border-right: 0;
    background: #021f88;
    color: rgba(255, 255, 255, 0.4);
    &:hover {
      background: #021f88;
    }
  }
  .tabActive {
    opacity: 1;
    color: white;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
  }
}

.resultsContainer {
  height: 100%;
  background: linear-gradient(to bottom right, #e9f0f5, #efedee);
  .filteredResults {
    padding: 24px;
  }
}
