.bottomBar {
  position: relative;
  bottom: 0;
  background: white;
  width: 100%;
  padding: 8px 0;
  -webkit-box-shadow: 0px -1px 16px rgba(80, 80, 80, 0.1);
  -moz-box-shadow: 0px -1px 16px rgba(80, 80, 80, 0.1);
  box-shadow: 0px -1px 16px rgba(80, 80, 80, 0.1);
  // border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

  .menuContainer {
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
    .menuItem {
      width: 25%;
      text-align: center;

      &:nth-child(2) {
        text-align: left;
      }
      &:nth-child(4) {
        text-align: right;
      }
    }
    svg {
      fill: rgb(105, 105, 105);
    }
    .centerButton {
      position: absolute;
      border-radius: 50%;
      top: -30px;
      padding: 2px;
      font-weight: 600;
      svg {
        width: 30px;
        height: 30px;
        fill: white;
      }
    }
    .primary {
      background: #1e976d;
      -webkit-box-shadow: 0px 3px 9px rgba(20, 94, 68, 0.5);
      -moz-box-shadow: 0px 3px 9px rgba(20, 94, 68, 0.5);
      box-shadow: 0px 3px 9px rgba(20, 94, 68, 0.5);
    }
    .secondary {
      background: #021f88;
      -webkit-box-shadow: 0px 3px 9px rgba(2, 31, 136, 0.5);
      -moz-box-shadow: 0px 3px 9px rgba(2, 31, 136, 0.5);
      box-shadow: 0px 3px 9px rgba(2, 31, 136, 0.5);
    }
  }
}
