.listItem {
    display: flex;
    padding: 8px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
    border-radius: 8px;
    margin: 12px 0;
    background: white;

    &:first-child {
        margin-top: 0;
    }
    .image {
        width: 40px;
        height: 40px;
        background-position: center !important;
        background-size: 100% 100% !important; 
        border-radius: 50%;
        position: relative;
        vertical-align: middle;
    }
    .name {
        width: 150px;
        font-size: 16px; 
        display: table-cell;
        vertical-align: middle;
        padding-left: 12px;
        position: relative;
        .text{
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 134px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 27px;
        }
    }
    .rest {
        width: calc(100% - 190px);
    }
}