.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contentContainer {
  position: absolute;
  height: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  padding-bottom: 80px;
}

.container h2 {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0 40px;
  margin: auto;
}

.container a {
  font-size: 1.4rem;
  opacity: 1;
}

.btn {
  background: none;
  border: 0;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  letter-spacing: 2;
  font-family: Roboto;
  cursor: pointer;
  opacity: 0.9;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
  }
}
.btnMd {
  padding: 18px 40px;
  font-size: 16px;
}
.btnLg {
  padding: 20px 40px;
  font-size: 18px;
}
.btnPrimary {
  background: linear-gradient(to bottom right, #1e976d, #167554) !important;
  color: white !important;
}
.btnSecondary {
  background: linear-gradient(to bottom right, #021f88, #02155a) !important;
  color: white !important;
}

input {
  outline: none;
}

.darkGreenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(22, 117, 84, 0.8);
}
