.productPage {
  height: 100%;
  .productHeader {
    padding: 0 16px 16px;
  }

  .controls {
  }
}

.productHeader {
  display: flex;
  height: 132px;
  .cover {
    width: 100px;
    height: 100px;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 8px;
    position: relative;
    .overlay {
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s ease all;
      display: none;
      svg {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
    &:hover {
      .overlay {
        display: block;
      }
    }
    svg {
      fill: white;
    }
  }
  .intro {
    padding-left: 12px;
    p {
      margin: 0;
    }
    .name {
      font-size: 24px;
      text-transform: uppercase;
      line-height: 26px;
    }
    .partyName {
      font-size: 17px;
      line-height: 22px;
      color: rgb(117, 110, 110);
    }
    .balance {
      padding-top: 10px;
      color: green;
      margin-top: 4px;
      font-size: 20px;
      line-height: 38px;
      span {
        padding: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-right: 4px;
        svg {
          vertical-align: middle;
          margin-top: -1px;
          height: 20px;
          width: 20px;
        }
      }
    }
    .balance.negative {
      color: red;
    }
  }
}
